<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta content="ie=edge" http-equiv="x-ua-compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{ projectName }} : {{ title }}
		</title>

		<link rel="icon" href="{{ root }}favicon.ico">
		<link href="{{ root }}styles/main.min.css" rel="stylesheet">
		{# <link rel="preload" href="{{ root }}fonts/ptsans.woff2" as="font" crossorigin="anonymous"> #}
	</head>
	<body class="page">
		{% include '../_components/_page-header.twig' with { cssMix: 'page__header' } %}

		{% block main %}{% endblock %}

		{% include '../_components/_page-footer.twig' with { cssMix: 'page__footer' } %}

		{% if IS_DEV %}
			<script src="{{ root }}scripts/dev.min.js"></script>
		{% endif %}
		<script src="{{ root }}scripts/main.min.js"></script>
	</body>
</html>
