{% from 'utils.twig' import setBg %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{ project }}
		</title>
		<meta name="description" content="{{ description|punctify }}">
		<link href="{{ rootPath }}styles/main.css{{ version }}" rel="stylesheet">
	</head>

	<body>
		{% block page %}{% endblock %}

		{% block modals %}{% endblock %}

		<script>
			window.pageData = {{ pageData }};
		</script>

		<script src="{{ rootPath }}scripts/main.js{{ version }}"></script>
		{% if devMode %}
			<script src="{{ rootPath }}scripts/dev.js{{ version }}"></script>
		{% endif %}
	</body>
</html>
